**BIG BIG HINT! Look in the instructions to guide you on this task.**

In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
csvfile = "Resources/2016-FCC-New-Coders-Survey-Data.csv"

In [3]:
# Read with pandas
df = pd.read_csv(csvfile, low_memory = False)

In [4]:
# Inspect all columns
df.columns

Index(['Age', 'AttendedBootcamp', 'BootcampFinish', 'BootcampFullJobAfter',
       'BootcampLoanYesNo', 'BootcampMonthsAgo', 'BootcampName',
       'BootcampPostSalary', 'BootcampRecommend', 'ChildrenNumber',
       ...
       'ResourceSoloLearn', 'ResourceStackOverflow', 'ResourceTreehouse',
       'ResourceUdacity', 'ResourceUdemy', 'ResourceW3Schools',
       'ResourceYouTube', 'SchoolDegree', 'SchoolMajor', 'StudentDebtOwe'],
      dtype='object', length=113)

In [5]:
# Extract only columns 0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
df = df.iloc[:,[0, 1, 2, 3, 4, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]]
df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20.0,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25.0,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
5,34.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Self-employed freelancer,male,NaN,5.0,40000.0,NaN,bachelor's degree,English
6,23.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Singapore,software development,Employed for wages,male,NaN,8.0,32000.0,NaN,bachelor's degree,Computer Science
7,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United Kingdom,office and administrative support,Employed for wages,male,0.0,NaN,40000.0,NaN,master's degree (non-professional),Education
8,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5.0,80000.0,NaN,bachelor's degree,Business Administration
9,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,NaN,Employed for wages,male,NaN,20.0,80000.0,NaN,master's degree (non-professional),Business Administration
10,57.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,NaN,Self-employed business owner,male,0.0,8.0,20000.0,NaN,bachelor's degree,Computer Science
11,23.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Bangladesh,NaN,Not working and not looking for work,male,NaN,5.0,NaN,NaN,"some college credit, no degree",NaN
12,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Canada,health care,Employed for wages,male,NaN,5.0,90000.0,NaN,bachelor's degree,Mechanical Engineering
13,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,5.0,NaN,NaN,bachelor's degree,Business Administration
14,37.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,"between 100,000 and 1 million",NaN,Bosnia & Herzegovina,sales,Self-employed business owner,male,1.0,2.0,NaN,NaN,"some college credit, no degree",NaN
15,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Russia,software development,Employed for wages,female,NaN,10.0,NaN,NaN,"professional degree (MBA, MD, JD, etc.)",Math
16,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,female,NaN,4.0,80000.0,NaN,bachelor's degree,Economics
17,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,United States of America,education,Employed for wages,male,NaN,5.0,17000.0,NaN,bachelor's degree,Music
18,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Canada,software development,Self-employed freelancer,male,NaN,2.0,16000.0,NaN,bachelor's degree,Music
19,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,Croatia,NaN,Not working but looking for work,male,0.0,20.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
20,32.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,more than 1 million,NaN,United States of America,NaN,Employed for wages,female,1.0,5.0,200000.0,Full-Stack Web Developer,master's degree (non-professional),Geology
21,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Doing an unpaid internship,female,NaN,NaN,NaN,NaN,bachelor's degree,Computer Science
22,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,10.0,100000.0,NaN,bachelor's degree,Computer Science
23,44.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,office and administrative support,Employed for wages,female,0.0,30.0,41000.0,NaN,bachelor's degree,Political Science
24,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,NaN,Not working but looking for work,male,NaN,25.0,NaN,NaN,bachelor's degree,Computer Science
25,21.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working but looking for work,male,NaN,25.0,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
26,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,South Africa,NaN,Self-employed freelancer,male,0.0,1.0,12000.0,NaN,high school diploma or equivalent (GED),NaN
27,28.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,more than 1 million,NaN,United States of America,software development,Employed for wages,male,1.0,10.0,60000.0,NaN,"trade, technical, or vocational training",NaN
28,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development,Employed for wages,male,NaN,10.0,75000.0,Full-Stack Web Developer,bachelor's degree,Political Science
29,35.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,"less than 100,000",NaN,United Kingdom,software development,Employed for wages,male,1.0,5.0,35000.0,NaN,master's degree (non-professional),Physics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15590,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,NaN,2.0,200000.0,NaN,bachelor's degree,Computer Science
15591,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Brazil,software development and IT,Employed for wages,male,0.0,2.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Computer Systems Networking and Telecommunicat...
15592,43.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,1.0,3.0,200000.0,NaN,high school diploma or equivalent (GED),NaN
15593,29.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,female,0.0,5.0,200000.0,NaN,bachelor's degree,Accounting
15594,36.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,more than 1 million,NaN,United States of America,finance,Employed for wages,male,1.0,1.0,200000.0,NaN,bachelor's degree,Engineering
15595,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Ukraine,software development and IT,Self-employed freelancer,male,0.0,30.0,200000.0,NaN,some high school,NaN
15596,30.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,"less than 100,000",NaN,Brazil,software development and IT,Employed for wages,male,1.0,2.0,200000.0,NaN,high school diploma or equivalent (GED),NaN
15597,30.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Ukraine,legal,Self-employed freelancer,male,NaN,6.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Law
15598,28.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,"less than 100,000",NaN,United States of America,food and beverage,Employed for wages,male,1.0,20.0,200000.0,Full-Stack Web Developer,associate's degree,Computer and Information Systems Security
15599,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,male,NaN,5.0,200000.0,NaN,"some college credit, no degree",NaN
15600,28.0,1.0,1.0,1.0,0.0,36000.0,1.0,NaN,"between 100,000 and 1 million",NaN,United States of America,software development and IT,Employed for wages,female,NaN,8.0,200000.0,NaN,bachelor's degree,Marketing
15601,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,legal,Employed for wages,male,NaN,10.0,200000.0,NaN,bachelor's degree,Criminal Justice and Safety Studies
15602,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,India,software development and IT,Employed for wages,male,NaN,50.0,200000.0,Data Scientist / Data Engineer,bachelor's degree,Mathematics
15603,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,software development and IT,Employed for wages,male,NaN,4.0,200000.0,NaN,bachelor's degree,Computer Science
15604,35.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",NaN,Norway,construction and extraction,Employed for wages,male,NaN,5.0,200000.0,Front-End Web Developer,"some college credit, no degree",NaN
15605,31.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Portugal,software development and IT,Employed for wages,male,NaN,5.0,200000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
15606,43.0,0.0,NaN,NaN,NaN,NaN,NaN,3.0,more than 1 million,NaN,Canada,legal,Self-employed business owner,male,1.0,3.0,200000.0,NaN,bachelor's degree,Physics
15607,25.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Philippines,software development,Self-employed freelancer,male,0.0,8.0,200000.0,NaN,no high school (secondary school),NaN
15608,43.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,more than 1 million,NaN,United States of America,health care,Employed for wages,male,1.0,6.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical Engineering
15609,33.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Mexico,software development and IT,Employed for wages,male,0.0,16.0,200000.0,NaN,bachelor's degree,Software Engineering
15610,29.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,education,Employed for wages,male,NaN,5.0,200000.0,Front-End Web Developer,master's degree (non-professional),Religious Studies
15611,37.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,more than 1 million,NaN,Canada,software development and IT,Self-employed business owner,male,1.0,40.0,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical and Electronics Engineering
15612,45.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Employed for wages,female,NaN,2.0,200000.0,NaN,"some college credit, no degree",NaN
15613,30.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,more than 1 million,NaN,South Africa,software development and IT,Employed for wages,male,1.0,4.0,200000.0,NaN,"trade, technical, or vocational training",NaN
15614,47.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,finance,Employed for wages,male,NaN,3.0,26000.0,NaN,"trade, technical, or vocational training",NaN
15615,39.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Kenya,software development and IT,Self-employed freelancer,male,0.0,40.0,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,India,software development and IT,Employed for wages,male,0.0,15.0,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Nigeria,NaN,Self-employed freelancer,male,NaN,14.0,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,Spain,education,Self-employed freelancer,male,NaN,10.0,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,0.0,2.0,18000.0,NaN,bachelor's degree,Graphic Design

In [6]:
# Change "0" to "No" and "1" to "Yes" in response columns
df = df.replace(0, "No")
df = df.replace(1, "Yes")
df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,NaN,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",NaN,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN

In [7]:
# Calculate total number of respondents in survey
respondent_num = len(df.index)
respondent_num

15620

In [8]:
# Extract rows corresponding only to people who attended a bootcamp
# df = df.groupby("AttendedBootcamp")
attended_df = df.loc[df["AttendedBootcamp"] == "Yes", :]
attended_df.head()

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,CodeEventBootcamp,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,45000.0,No,NaN,more than 1 million,NaN,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,75000.0,Yes,3,"less than 100,000",NaN,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN
159,26.0,Yes,Yes,No,No,NaN,No,NaN,"between 100,000 and 1 million",NaN,United States of America,NaN,Not working and not looking for work,female,NaN,30,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
188,24.0,Yes,No,NaN,Yes,NaN,No,NaN,"between 100,000 and 1 million",NaN,Canada,NaN,Not working but looking for work,female,NaN,60,NaN,NaN,"some college credit, no degree",NaN

In [9]:
# Calculate average age of attendees
average_age = attended_df["Age"].dropna().mean()
average_age
# Calculate how many people attended a bootcamp
attended_num = attended_df["AttendedBootcamp"].count()
attended_num

# Calculate how many attendees hold degrees
hold_degrees = attended_df["SchoolDegree"].count()
hold_degrees

# Calculate the percentage of people who attended a bootcamp and hold a college degree
degree_percentage = hold_degrees / len(attended_df.index) *100


# Count number of attendees who self-identify as male; female; or are of non-binary gender identification
total_gender = attended_df["Gender"].count()
male_respondents = attended_df["Gender"].value_counts()["male"]
female_respondents = attended_df["Gender"].value_counts()["female"]
nongender_respondets = total_gender - male_respondents - female_respondents

# Calculate percentage of respondents who attended a bootcamp
percentage_attended = attended_num / respondent_num *100
percentage_attended


# Calculate percentage of respondents belonging to each gender
male_percent = male_respondents/total_gender * 100
male_percent

female_percent = female_respondents/total_gender * 100
female_percent

non_gender_specific_percent = nongender_respondets/total_gender * 100
non_gender_specific_percent

# Calculate percentage of attendees with a school degree
percentage_degree = hold_degrees/attended_num * 100

# Calculate average post-bootcamp salary
average_salary = attended_df["BootcampPostSalary"].dropna().mean()
average_salary

63740.50606060606

In [10]:
# Create a new table consolodating above calculations
bootcamp_table = pd.DataFrame({"Total Surveyed": [respondent_num],
                               "Total Bootcamp attendees": [attended_num],
                               "% attended bootcamp": [percentage_attended],
                               "Average Age": [average_age],
                               "% Male": [male_percent],
                               "% Female": [female_percent],
                               "% Non Gender Specific": [non_gender_specific_percent],
                               "Has a degree":[degree_percentage],
                               "Average Post Bootcamp Salary": [average_salary]
})
bootcamp_table.dtypes

Total Surveyed                    int64
Total Bootcamp attendees          int64
% attended bootcamp             float64
Average Age                     float64
% Male                          float64
% Female                        float64
% Non Gender Specific           float64
Has a degree                    float64
Average Post Bootcamp Salary    float64
dtype: object

In [11]:
# Improve formatting before outputting spreadsheet
bootcamp_table["Average Age"] = bootcamp_table["Average Age"].map("{:,.2f}".format)
bootcamp_table["% Male"] = bootcamp_table["% Male"].astype(float).map("{:,.2f}%".format)
bootcamp_table["% Female"] = bootcamp_table["% Female"].astype(float).map("{:,.2f}%".format)
bootcamp_table["% Non Gender Specific"] = bootcamp_table["% Non Gender Specific"].astype(float).map("{:,.2f}%".format)
bootcamp_table["% attended bootcamp"] = bootcamp_table["% attended bootcamp"].astype(float).map("{:,.2f}%".format)
bootcamp_table["Has a degree"] = bootcamp_table["Has a degree"].map("{:,.2f}%".format)
bootcamp_table["Average Post Bootcamp Salary"] = bootcamp_table["Average Post Bootcamp Salary"].map("${0:,.0f}".format)
bootcamp_table

,Total Surveyed,Total Bootcamp attendees,% attended bootcamp,Average Age,% Male,% Female,% Non Gender Specific,Has a degree,Average Post Bootcamp Salary
0,15620,953,6.10%,31.07,59.54%,39.14%,1.32%,87.30%,"$63,741"

In [12]:
# Export to Excel
bootcamp_table.to_excel("output/Bootcamppart1.xlsx", index=False)